[submodule "ProjectArowTest/Project Arrow"]
	url = https://github.com/TTYJKing/Project-Arrow.git
[submodule "ProjectArowTest/ProjectArowTest/Project Arrow"]
	url = https://github.com/TTYJKing/Project-Arrow.git
